
Flask
gunicorn
sqlalchemy
psycopg2-binary
flask-sqlalchemy
requests
pydantic
aiohttp
fastapi
psutil
tomli
tomli-w
uvicorn
websockets
werkzeug
pyjwt
python-ldap
flask-login
flask-sqlalchemy
sqlalchemy
